<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="TiagoSampaio\Campaigns\Api\CampaignRepositoryInterface" type="TiagoSampaio\Campaigns\Model\CampaignRepository"/>
	<preference for="TiagoSampaio\Campaigns\Api\Data\CampaignInterface" type="TiagoSampaio\Campaigns\Model\Campaign"/>
	<preference for="TiagoSampaio\Campaigns\Api\Data\CampaignSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="TiagoSampaio\Campaigns\Model\ResourceModel\Campaign\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">tiagosampaio_campaign</argument>
			<argument name="resourceModel" xsi:type="string">TiagoSampaio\Campaigns\Model\ResourceModel\Campaign\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="tiagosampaio_campaigns_campaign_listing_data_source" xsi:type="string">TiagoSampaio\Campaigns\Model\ResourceModel\Campaign\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="TiagoSampaio\Campaigns\Api\CampaignItemRepositoryInterface" type="TiagoSampaio\Campaigns\Model\CampaignItemRepository"/>
	<preference for="TiagoSampaio\Campaigns\Api\Data\CampaignItemInterface" type="TiagoSampaio\Campaigns\Model\CampaignItem"/>
	<preference for="TiagoSampaio\Campaigns\Api\Data\CampaignItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
