<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="tiagosampaio" id="tiagosampaio">
			<module before="Magento_Backend" name="TiagoSampaio_Campaigns"/>
		</route>
	</router>
</config>
